<div class="container">
  <div class="gray-center-box">
    <%= simple_form_for :tag, url: tag_path, method: :patch do |f| %>
      <%= f.input :name %>
      <%= f.button :submit, class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
