<div class="container">
  <div class="gray-center-box">
    <%= simple_form_for @category, url: categories_path, method: :post do |f| %>
      <%= f.input :name, required: true %>
      <%= f.button :submit, class:"btn btn-primary my-3" %>
    <% end %>
  </div>
</div>
