<footer class="footer-border navbar-custom">
  <div class="row">
    <div class="col">
      <ul style="list-style-type:none">
        <li><a href="#" class="footer-content">For Business</a></li>
        <li><a href="#" class="footer-content">Get The App</a></li>
        <li><a href="#" class="footer-content">Contact Us</a></li>
      </ul>
    </div>
    <div class="col">
      <ul style="list-style-type:none">
        <li><a href="#" class="footer-content">Careers</a></li>
        <li><a href="#" class="footer-content">Blog</a></li>
        <li><a href="#" class="footer-content">Help And Support</a></li>
      </ul>
    </div>
    <div class="col container">
      <div class="dropdown show">
        <a class="btn btn-brand dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Languages
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li class="dropdown-item" ><%= link_to t(".en"), locale:"en"%></li>
          <li class="dropdown-item" ><%= link_to t(".vi"), locale:"vi" %></li>
        </div>
      </div>
    </div>
  </div>
  <div class="container last">
    <h5>2020</h5>
  </div>
</footer>
